<h1>Editing atom</h1>

<%= error_messages_for :atom %>

<% form_for(@atom) do |f| %>
  <p>
		<%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
		<%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
		<%= f.label :updated %><br />
    <%= f.datetime_select :updated %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @atom %> |
<%= link_to 'Back', atoms_path %>
