<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%=h (title ? (title + " | " ) : "" ) + "Bryce Kerley" %></title>
		<%= stylesheet_link_tag 'public' %>
	</head>
	<body>
		<div id="header">
			<h1>Bryce Kerley</h1>
			<ul>
				<li><%=link_to "Home", frontpage_path %></li>
				<li><%=link_to "Date", date_path %></li>
				<li><%=link_to "Tags", tags_path %></li>
				<li><%=link_to "Feed", "/rss/" %></li>
				<li><%=link_to "About", about_path %></li>
			</ul>
			
		</div>
		
		<div id="content">
			<%= yield %>
		</div>
		<div id="footer">
			<p>
				All content &copy; 2008 by Bryce Kerley.
				This work is licensed under a 
				<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
					Creative Commons Attribution-Share Alike 3.0 Unported License</a>.
				Any original source code posted without explicit licensing information
				is licensed under the
					<a rel="license" href="http://sam.zoy.org/wtfpl/">WTF Public License</a>
				without warranty or guarantee that it'll work.
			</p>
		</div>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-605807-1");
		pageTracker._initData();
		pageTracker._trackPageview();
		</script>
	</body>
</html>